<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlanceIRServiceName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER).camera-helper</string>
	<key>GlanceIRServiceRequirement</key>
	<string>anchor apple generic and identifier "$(PRODUCT_BUNDLE_IDENTIFIER).camera-helper" and certificate leaf[subject.OU] = "$(DEVELOPMENT_TEAM)"</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://tryglance.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>o9uQmlzKzh7NZvFtVktVh/wqw4Ie6WshX8K8NFDweWY=</string>
</dict>
</plist>
